* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: pink;
  color: azure;
  font-family: "poppins", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: 1.8rem;
  border: none;
  background: azure;
  border-radius: 2rem;
}
form button {
  color: cadetblue;
  background: whitesmoke;
  cursor: pointer;
  transition: all 0.3 ease;
  margin-left: 0.5rem;
}

form button:hover {
  color: aliceblue;
  background: cadetblue;
}

.fa-plus-circle {
  margin-top: 0.3rem;

  margin-left: -2px;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  padding-left: 0.5rem;
  background:  rgb(226, 104, 187);
  color: black;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  border-radius: 1.5rem;
}

.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  color: rgb(14, 1, 3);
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}
 
.complete-btn:hover{
    color:blanchedalmond;
} 
.complete-btn {
  background: rgb(85, 123, 124);
}
.trash-btn {
  border-top-right-radius: 1.50rem;
  border-bottom-right-radius: 1.50rem;
  background: rgb(219, 86, 134);
}
.trash-btn:hover{
    color:blanchedalmond;
}

.todo-item {
  padding: 0rem 0.5rem;
}
.fa-trash,
.fa-check-circle {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.4;
}
.slide {
  transform: translateX(10rem);
  opacity: 0;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
}
select {
  color: rgb(69, 114, 116);
  width: 18rem;
  height: 3.2rem;
  cursor: pointer;
  padding: 1rem;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: rgb(112, 18, 83);
  top: 0;
  right:0 ;
  padding:1rem;
  pointer-events: none;
  transition: all .3s ease;
}
.select:hover::after{
    background: white;
    color: cadetblue;
}